In [1]:
#from sqlalchemy import create_engine
import pandas as pd
import re

import os

In [6]:
# here = os.path.dirname(os.path.abspath(__file__))
# filename = os.path.join(here, 'noc_list_raw.csv')
filename = 'noc_list_raw.csv'

draws = pd.read_csv('eoi.csv')
draws['date'] = draws.date.astype('datetime64[ns]')
draws = draws.sort_values(by=['date'], ascending=True).reset_index(drop=True)
draws = draws.reset_index()
draws.columns = ['draw_id', 'date', 'draw_type', 'score', 'invitations', 'nocs']
draws.draw_id = draws.draw_id + 1


nocs_draws_obj = {'noc_id': [], 'draw_id': []}
for i in range (len(draws)):
    nocs_list =  [x.strip() for x in draws.iloc[i].nocs.split(',')]
    draw_id = draws.iloc[i].draw_id
    nocs_draws_obj['noc_id'] = nocs_draws_obj['noc_id'] + nocs_list
    nocs_draws_obj['draw_id'] = nocs_draws_obj['draw_id'] + [draw_id]*len(nocs_list)

df = pd.read_csv(filename)
df['noc'] = df['noc'].astype('str')
df['noc'] = df['noc'].apply(lambda x: '{0:0>4}'.format(x))

nocs = df
nocs.columns = ['noc_id', 'title', 'skill_level', '2019_est_employments', '2019_wage_est', 'job_outlook', 'job_openings', 'soft_skills']
nocs_draws= pd.DataFrame(nocs_draws_obj)

# engine = create_engine('postgresql+psycopg2://postgres:talha@localhost/pnpinsider', echo=False)

# nocs.to_sql('nocs', con=engine, if_exists='replace', index=False)
# draws.to_sql('draws', con=engine, if_exists='replace', index=False)
# nocs_draws.to_sql('nocs_draws', con=engine, if_exists='replace', index=False)

def get_draws_summary():
    return draws.to_dict(orient="records")

def get_draws_details(draw_id=1):
    z = nocs_draws.merge(draws)[['noc_id','date', 'draw_type', 'draw_id']].merge(nocs)
    z = z[(z.draw_id == int(draw_id))]
    return z.to_dict(orient="records")

def get_nocs(noc_id = 'all'):
    if noc_id == 'all':
        return nocs.to_dict(orient="records")
    else:
        return nocs[nocs.noc_id == noc_id].to_dict(orient="records")

def getOverview():
    z = nocs.merge(nocs_draws, on='noc_id', how='left').merge(draws, how='left')[['noc_id','date', 'draw_type']]
    z['draw_date_type'] = z['date'].astype('str')+'_'+z['draw_type']
    z = z.drop_duplicates().sort_values(by='noc_id')
    x=pd.get_dummies(z['draw_date_type'])
    j=pd.concat([z,x], axis=1)
    j = j.drop(['draw_date_type'], axis=1)
    k = j.groupby('noc_id')
    final = nocs.merge(k.sum(), on='noc_id')
    final = final.drop(['soft_skills', '2019_wage_est'], axis=1)
    final['total'] = final.filter(regex='2019-|2020-|2021-|2022-').sum(axis=1)    
    final.update(final.filter(regex='2019-|2020-|2021-|2022-').replace(to_replace=[1,0],value=['Yes', 'No']))
    columns = final.columns.to_list()
    col_1 = columns[0:6]
    col_2 = [columns[-1]]
    col_3 = columns[6:-1]
    col_3.reverse()
    col=col_1+col_2+col_3
    final = final[final.total > 0]
    return final
#     return final[col].to_dict(orient="records")

In [8]:
data = getOverview()

In [16]:
data[["noc_id", "title", "total"]].sort_values(by="total", ascending=False)

    noc_id                                              title  total
145   2263  Inspectors in public and environmental health ...     74
42    0821                           Managers in agriculture      74
23    0421  Administrators - post-secondary education and ...     69
37    0711                             Construction managers      69
10    0121  Insurance, real estate and financial brokerage...     67
..     ...                                                ...    ...
256   6312                            Executive housekeepers       2
393   9211         Supervisors, mineral and metal processing       1
326   7282                                Concrete finishers       1
329   7291                             Roofers and shinglers       1
336   7304         Supervisors, railway transport operations       1

[200 rows x 3 columns]

In [10]:
data

,noc_id,title,skill_level,2019_est_employments,job_outlook,job_openings,2019-09-25_Express Entry,2019-09-25_Occupations In-Demand,2019-10-02_Express Entry,2019-10-02_Occupations In-Demand,...,2021-09-27_Occupations In-Demand,2021-11-18_Express Entry,2021-11-18_Occupations In-Demand,2022-01-12_Express Entry,2022-01-12_Occupations In-Demand,2022-03-08_Express Entry,2022-03-08_Occupations In-Demand,2022-05-05_Express Entry,2022-05-05_Occupations In-Demand,total
2,0013,"Senior managers - financial, communications an...",Mgt,1020,Good,240,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,53
3,0014,"Senior managers - health, education, social an...",Mgt,890,Good,240,No,No,Yes,Yes,...,Yes,No,No,No,No,Yes,Yes,Yes,Yes,60
5,0016,"Senior managers - construction, transportation...",Mgt,960,Fair,280,Yes,Yes,Yes,Yes,...,Yes,Yes,Yes,No,No,No,No,No,No,59
6,0111,Financial managers,Mgt,1870,Fair,390,Yes,Yes,No,No,...,No,No,No,No,No,No,No,No,No,35
7,0112,Human resources managers,Mgt,1160,Fair,250,Yes,Yes,No,No,...,No,No,No,No,No,No,No,No,No,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,9213,"Supervisors, food, beverage and associated pro...",PS,390,Fair,100,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,44
397,9226,"Supervisors, other mechanical and metal produc...",PS,170,Fair,40,No,No,No,No,...,No,No,No,No,No,No,No,No,No,17
398,9231,"Central control and process operators, mineral...",PS,130,Limited,10,No,No,No,No,...,No,No,No,No,No,No,No,No,No,14
399,9232,"Petroleum, gas and chemical process operators",PS,1800,Limited,20,No,No,Yes,Yes,...,No,No,No,No,No,No,No,Yes,Yes,37
400,9241,Power engineers and power systems operators,PS,1650,Limited,160,Yes,Yes,Yes,Yes,...,No,No,No,No,No,No,No,No,No,35